body{
    padding: 0;
    margin: 0;
#wrap {
    padding: 0 10px 10px 10px;
    background-color:rgb(4, 131, 163);
    width: 80%;
    position: relative;
    top: 5%;
    left: 5%;
}

#nav{
    float: left;
    background-color: wheat;
    padding-top: 1em;
    position: relative;
    left: 5%;
    width: 20%;
    height: 80%;
    
}
.first{
    list-style-type: circle;
    text-align: left;
}
#content {
    background-color: rgb(19, 185, 226);
    width: 70%;
   padding: 1em 0.5em 0;
   position: relative;
   left: 25%;
   height: 80%;
}
ul{
    list-style:none;
}

li {
    margin: auto;
    padding: 0;
    text-align: center;
}
li::first-letter{
    font-weight: bold;
    font-size: 1.2em;

}
.copyright{
    text-align: center;
}
